html,
body {
    width: 100%;
    margin: 0;
}

body {
    background-image: url('images/table-in-vintage-restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h2, h3 {
    font-family: 'Berkshire Swash', cursive;
}

p {
    font-family: 'Open Sans', sans-serif;
}

#content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#right-nav a:hover {
    cursor: pointer;
    border-bottom: 2px solid #ffffff;
}

#left-nav, #right-nav {
    padding: 5px;
}

#left-nav a, #right-nav a {
    margin: 10px 20px 10px 0;
    font-family: 'Berkshire Swash', cursive;
    font-size: x-large;
    color: #ffffff;
}

.menu {
   display: grid;
   grid-template-rows: 1fr;
   width: 70%;
   height: 70%;
   margin-top: 25px;
   background-color: #000000;
   opacity: 0.8;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
}

.menu-item {
    grid-column: 1 / span 1;
    font-family: 'Berkshire Swash', cursive;
    font-size: 26px;
}

.menu-description {
    grid-row: 2;
    font-family: 'Open Sans', sans-serif;
}

.menu-price {
    grid-column: 2 / span 2;
    justify-self: end;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.menu-item, .menu-description, .menu-price {
    color: #ffffff;
}

.about {
    margin-top: 25px;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.8;
}

.contact-page {
    margin-top: 25px;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.8;
}
